In [ ]:
import cv2 
import sys
import numpy as np
import scipy
def canny(cvimg):
        img_blur = cv2.GaussianBlur(cvimg, (3, ), 0.02)
        edges = cv2.Canny(image=img_blur, threshold1=40,
                          threshold2=100)  # Canny Edge Detection
        return edges

In [ ]:
from google.colab.patches import cv2_imshow
trial = cv2.imread("/content/drive/MyDrive/variables/033.jpg") 
trial_gray= cv2.cvtColor(trial,  cv2.COLOR_BGR2GRAY)

In [ ]:
cv2.circle(trial_gray , (819 , 1084) ,radius=8, color=(255, 0, 255), thickness=-1)
cv2_imshow(trial_gray)
equ = cv2.equalizeHist(trial_gray)

In [ ]:
cv2_imshow(equ)

In [133]:
trial1 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/001.jpg"),cv2.COLOR_BGR2GRAY)
equ1 = cv2.equalizeHist(trial1)
temp1 = [trial1] 

trial2 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/002.jpg"),cv2.COLOR_BGR2GRAY)
equ2 = cv2.equalizeHist(trial2)
temp1.append(trial2)

trial3 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/003.jpg"),cv2.COLOR_BGR2GRAY)
equ3 = cv2.equalizeHist(trial3)
temp1.append(trial3)


trial4 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/004.jpg"),cv2.COLOR_BGR2GRAY)
equ4 = cv2.equalizeHist(trial4)
temp1.append(trial4)



trial5 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/005.jpg"),cv2.COLOR_BGR2GRAY)
equ5 = cv2.equalizeHist(trial5)
temp1.append(trial5)



trial6 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/006.jpg"),cv2.COLOR_BGR2GRAY)
equ6 = cv2.equalizeHist(trial6)
temp1.append(trial6)



trial7 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/007.jpg"),cv2.COLOR_BGR2GRAY)
equ7 = cv2.equalizeHist(trial7)
temp1.append(trial7)



trial8 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/008.jpg"),cv2.COLOR_BGR2GRAY)
equ8 = cv2.equalizeHist(trial8)
temp1.append(trial8)

temp1 = np.array(temp1)

print(temp1[2].shape)
avg = np.zeros(temp1[0].shape)
for i in range(0,temp1.shape[0]):
  print(i)
  avg+=temp1[i]
avg /=8
print(avg.shape)

(2400, 1935)
0
1
2
3
4
5
6
7
(2400, 1935)

In [134]:
temp_land_1 = avg[990 :1090 ,756:856]
temp_land_2 = avg[920 :1020 ,1339:1439 ]
temp_land_3 = avg[1175 : 1275 ,1215:1315]
temp_land_4 = avg[1172 :1272 ,555:655 ]
temp_land_5 = avg[1475 :1575 ,1338:1438 ]
temp_land_6 = avg[1789 : 1889 ,1313:1413 ]

In [135]:
cv2.imwrite("land_1.jpg", temp_land_1)
cv2.imwrite("land_2.jpg", temp_land_2)
cv2.imwrite("land_3.jpg", temp_land_3)
cv2.imwrite("land_4.jpg", temp_land_4)
cv2.imwrite("land_5.jpg", temp_land_5)
cv2.imwrite("land_5.jpg", temp_land_5)

True

In [136]:
cv2.imwrite("land_6.jpg", temp_land_6)

True

In [137]:
temp_land_7 = avg[  1930:1935 ,1301:1401] ## ؟؟ 
temp_land_8 = avg[2040-50:2040+50, 1245:1345]## ?? 
temp_land_9 = avg[2020-50 : 2020+50 , 1333-50:1333+50 ] #?? 
temp_land_10 = avg[1744-50 :1744+50 , 746-50:746+50 ]
temp_land_11= avg[1691-50 :1691+50 , 1420-50:1420+50 ]
temp_land_12 = avg[1700-50 : 1700+50 , 1436-50:1436+50 ]
temp_land_13 = avg[1620-50 : 1620+50 , 1557-50:1557+50 ]
temp_land_14 = avg[1803-50 :1803+50 , 1535-50:1536+50 ]
temp_land_15 = avg[1496-50 : 1496+50 , 1495-50:1495+50 ]
temp_land_16 = avg[2053-50 :2053+50 , 1426-50:1426+50 ] ##??
temp_land_17= avg[1429-50 :1429+50 , 968-50:968+50 ]
temp_land_18 = avg[1444-50 : 1444+50 ,1397-50:1397+50]
temp_land_19 = avg[1328-50 : 1328+50 ,669-50:669+50]

In [ ]:
Df1 = pd.DataFrame(d.describe())
Df1["7_y" ]

count     150.000000
mean     1980.480000
std        88.840383
min      1763.000000
25%      1921.000000
50%      1979.000000
75%      2036.000000
max      2200.000000
Name: 7_y, dtype: float64

In [138]:
cv2.imwrite("land_7.jpg", temp_land_7)
cv2.imwrite("land_8.jpg", temp_land_8)
cv2.imwrite("land_9.jpg", temp_land_9)
cv2.imwrite("land_10.jpg", temp_land_10)
cv2.imwrite("land_11.jpg", temp_land_11)
cv2.imwrite("land_12.jpg", temp_land_12)
cv2.imwrite("land_13.jpg", temp_land_13)
cv2.imwrite("land_14.jpg", temp_land_14)
cv2.imwrite("land_15.jpg", temp_land_15)
cv2.imwrite("land_16.jpg", temp_land_16)
cv2.imwrite("land_17.jpg", temp_land_17)
cv2.imwrite("land_18.jpg", temp_land_18)
cv2.imwrite("land_19.jpg", temp_land_19)

True

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/variables/train_senior.csv")
d = pd.DataFrame(df)
d.describe()

,1_x,1_y,2_x,2_y,3_x,3_y,4_x,4_y,5_x,5_y,...,15_x,15_y,16_x,16_y,17_x,17_y,18_x,18_y,19_x,19_y
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.00000,...,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,806.620000,1040.666667,1389.500000,970.080000,1265.333333,1225.913333,605.106667,1222.773333,1388.153333,1525.34000,...,1495.840000,1496.673333,1426.593333,2053.453333,968.246667,1429.100000,1397.966667,1444.993333,669.806667,1328.546667
std,45.254637,48.252088,61.929463,70.761109,48.841569,62.747276,37.385018,39.864560,67.234513,70.38712,...,65.885612,79.239548,99.553506,91.408192,46.326669,52.568492,60.893946,74.911715,39.209932,45.256107
min,705.000000,886.000000,1218.000000,732.000000,1149.000000,1032.000000,514.000000,1136.000000,1241.000000,1328.00000,...,1319.000000,1261.000000,1175.000000,1842.000000,832.000000,1279.000000,1255.000000,1231.000000,571.000000,1212.000000
25%,773.250000,1011.000000,1348.250000,925.500000,1233.500000,1188.000000,581.250000,1201.250000,1338.250000,1486.50000,...,1453.250000,1446.750000,1363.250000,1997.250000,940.250000,1394.250000,1353.000000,1398.000000,643.000000,1298.000000
50%,808.500000,1043.000000,1388.000000,971.500000,1264.000000,1222.000000,605.500000,1217.500000,1384.000000,1524.50000,...,1489.000000,1498.000000,1428.500000,2054.000000,966.000000,1430.000000,1390.500000,1446.000000,669.000000,1340.000000
75%,835.000000,1071.750000,1435.250000,1017.750000,1299.500000,1269.000000,630.000000,1256.500000,1431.000000,1576.25000,...,1532.500000,1540.750000,1496.500000,2109.000000,998.750000,1465.000000,1438.250000,1489.750000,698.750000,1360.750000
max,943.000000,1149.000000,1549.000000,1120.000000,1388.000000,1385.000000,699.000000,1309.000000,1557.000000,1694.00000,...,1661.000000,1683.000000,1693.000000,2310.000000,1079.000000,1542.000000,1548.000000,1610.000000,769.000000,1441.000000

In [ ]:
trial7 = cv2.cvtColor(cv2.imread("/content/drive/MyDrive/data/cepha400/007.jpg"),cv2.COLOR_BGR2GRAY)
equ7 = cv2.equalizeHist(trial7)
temp1.append(trial7)

In [142]:
img = cv2.imread('/content/drive/MyDrive/data/cepha400/033.jpg')
test = cv2.imread('/content/drive/MyDrive/data/cepha400/033.jpg',0)
from scipy import signal
test = cv2.equalizeHist(test)
window = test[1705:1905, 1311:1511]
result = signal.correlate2d(window,temp_land_11, boundary='symm', mode='same')
y, x = np.unravel_index(np.argmax(result), result.shape)
cv2.circle(img,(x+800,y+950), 5, (0,0,255), -1)
cv2.circle(img,(1411,1805), 5,  (255,0,0), -1)

array([[[249, 249, 249],
        [249, 249, 249],
        [249, 249, 249],
        ...,
        [252, 252, 252],
        [248, 248, 248],
        [  0,   0,   0]],

       [[249, 249, 249],
        [249, 249, 249],
        [249, 249, 249],
        ...,
        [252, 252, 252],
        [248, 248, 248],
        [  0,   0,   0]],

       [[249, 249, 249],
        [249, 249, 249],
        [249, 249, 249],
        ...,
        [252, 252, 252],
        [248, 248, 248],
        [  0,   0,   0]],

       ...,

       [[250, 250, 250],
        [250, 250, 250],
        [250, 250, 250],
        ...,
        [198, 198, 198],
        [199, 199, 199],
        [ 12,  12,  12]],

       [[247, 247, 247],
        [247, 247, 247],
        [247, 247, 247],
        ...,
        [204, 204, 204],
        [184, 184, 184],
        [ 26,  26,  26]],

       [[  1,   1,   1],
        [  1,   1,   1],
        [  1,   1,   1],
        ...,
        [  0,   0,   0],
        [ 17,  17,  17],
        [  0,   0,   0]]], dtype=uint8)

In [ ]:
print( x,y)
cv2_imshow(img)

In [ ]:
test = cv2.imread('/content/drive/MyDrive/data/cepha400/033.jpg',0)

In [ ]:
Df1 = pd.DataFrame(d.describe())
Df1["6_y"]

count     150.000000
mean     1839.313333
std        78.558416
min      1636.000000
25%      1790.250000
50%      1839.500000
75%      1886.750000
max      2019.000000
Name: 6_y, dtype: float64